# Hugo build output
public/
resources/_gen/

# Hugo cache
.hugo_build.lock

# OS files
.DS_Store
._*
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
node_modules/
